

@media only screen and (min-width: 981px) and (max-width: 1024px) { 
.carousel-inner > .item > .carousel-caption {
    top: 20%;
    bottom: 50%;
}
.carousel-inner > .item > .carousel-caption h1 {
    font-size: 24px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 25px;
}
.carousel-inner > .item > .carousel-caption h4 {
    font-size: 12px;
    text-shadow: none;
    margin: 8px auto;
    line-height: 18px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-primary{
	color: #fff;
	background: #ff5252;
	padding: 9px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-default {
    color: #ff5252;
    background: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    text-shadow: none;
    font-size: 12px;
}
.carousel-control.left {
    background: none;
    top: 40%;
}
.carousel-control.right {
	background: none;
	top: 40%;
}

}

@media only screen and (min-width: 641px) and (max-width: 980px) { 
.carousel-inner > .item > .carousel-caption {
    top: 10%;
    bottom: 50%;
}
.carousel-inner > .item > .carousel-caption h1 {
    font-size: 24px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 25px;
}
.carousel-inner > .item > .carousel-caption h4 {
    font-size: 12px;
    text-shadow: none;
    margin: 8px auto;
    line-height: 18px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-primary{
	color: #fff;
	background: #ff5252;
	padding: 9px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-default {
    color: #ff5252;
    background: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    text-shadow: none;
    font-size: 12px;
}
.carousel-control.left {
    background: none;
    top: 30%;
}
.carousel-control.right {
	background: none;
	top: 30%;
}

}

@media only screen and (min-width: 481px) and (max-width: 640px) { 
.carousel-inner > .item > .carousel-caption {
    top: 10%;
    bottom: 50%;
}
.carousel-inner > .item > .carousel-caption h1 {
    font-size: 24px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 25px;
}
.carousel-inner > .item > .carousel-caption h4 {
    font-size: 12px;
    text-shadow: none;
    margin: 8px auto;
    line-height: 18px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-primary{
	color: #fff;
	background: #ff5252;
	padding: 9px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-default {
    color: #ff5252;
    background: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    text-shadow: none;
    font-size: 12px;
}
.carousel-control.left {
    background: none;
    top: 60%;
}
.carousel-control.right {
	background: none;
	top: 60%;
}
}

@media only screen and (min-width: 361px) and (max-width: 480px) { 
.carousel-inner > .item > .carousel-caption {
    top: 10%;
    bottom: 50%;
}
.carousel-inner > .item > .carousel-caption h1 {
    font-size: 24px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 25px;
}
.carousel-inner > .item > .carousel-caption h4 {
    font-size: 12px;
    text-shadow: none;
    margin: 8px auto;
    line-height: 18px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-primary{
	color: #fff;
	background: #ff5252;
	padding: 9px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-default {
    color: #ff5252;
    background: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    text-shadow: none;
    font-size: 12px;
}
.carousel-control.left {
    background: none;
    top: 60%;
}
.carousel-control.right {
	background: none;
	top: 60%;
}

}

@media only screen and (min-width: 321px) and (max-width: 360px) { 
.carousel-inner > .item > .carousel-caption {
    top: 10%;
    bottom: 50%;
}
.carousel-inner > .item > .carousel-caption h1 {
    font-size: 18px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 25px;
}
.carousel-inner > .item > .carousel-caption h4 {
    font-size: 12px;
    text-shadow: none;
    margin: 8px auto;
    line-height: 18px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-primary{
	color: #fff;
	background: #ff5252;
	padding: 9px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-default {
    color: #ff5252;
    background: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    text-shadow: none;
    font-size: 12px;
}
 
.carousel-control.left {
    background: none;
    top: 30%;
}
.carousel-control.right {
	background: none;
	top: 30%;
}
}

@media only screen and (max-width: 321px){ 
.carousel-inner > .item > .carousel-caption {
    top: 10%;
    bottom: 50%;
}
.carousel-inner > .item > .carousel-caption h1 {
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 25px;
}
.carousel-inner > .item > .carousel-caption h4 {
    font-size: 12px;
    text-shadow: none;
    margin: 8px auto;
    line-height: 18px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-primary{
	color: #fff;
	background: #ff5252;
	padding: 9px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}
.carousel-inner > .item > .carousel-caption > .item-btn-cont > .btn-default {
    color: #ff5252;
    background: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    text-shadow: none;
    font-size: 12px;
}
 
.carousel-control.left {
    background: none;
    top: 42%;
}
.carousel-control.right {
	background: none;
	top: 42%;
}
}